/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
@media (min-width: 1440px) {
  .header {
    padding: 2rem 2.5rem 2rem;
  }
}
.header img {
  height: 27px;
}

.header__menu-button {
  display: none;
}

.header__menu-icon {
  z-index: 999;
  cursor: pointer;
  position: relative;
  top: 5px;
}
@media (min-width: 1440px) {
  .header__menu-icon {
    visibility: hidden;
  }
}
.header__menu-icon span {
  background-color: #333;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}
.header__menu-button:checked ~ .header__menu-icon span {
  background: transparent;
}
.header__menu-icon span::before,
.header__menu-icon span::after {
  content: "";
  background-color: #333;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
}
.header__menu-button:checked ~ .header__menu-icon span::before,
.header__menu-button:checked ~ .header__menu-icon span::after {
  top: 0;
}
.header__menu-icon span::before {
  top: 7px;
}
.header__menu-button:checked ~ .header__menu-icon span::before {
  transform: rotate(-45deg);
}
.header__menu-icon span::after {
  top: -7px;
}
.header__menu-button:checked ~ .header__menu-icon span::after {
  transform: rotate(45deg);
}

/* navigation */
.header__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 998;
  transform: translateX(150%);
  transition: transform 0.3s ease-out;
}
.header__menu-button:checked ~ .header__navigation {
  transform: translateX(0);
}
.header__navigation::before {
  content: "";
  grid-column: 1/2;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 1440px) {
  .header__navigation {
    display: flex;
    position: static;
    overflow: unset;
  }
}

.header__navigation-list {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  .header__navigation-list {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    position: relative;
  }
}

.header__navigation-item {
  margin-top: 1.5rem;
}
@media (min-width: 1440px) {
  .header__navigation-item {
    flex-basis: 10%;
    margin-top: unset;
    position: relative;
    font-size: 14px;
  }
}
.header__navigation-item > * {
  color: #696969;
  text-decoration: none;
  cursor: pointer;
}
.header__navigation-item > *:hover {
  color: #919191;
}
.header__navigation-item:first-child {
  margin-top: 5rem;
}
@media (min-width: 1440px) {
  .header__navigation-item:first-child {
    margin-top: unset;
  }
}
@media (min-width: 1440px) {
  .header__navigation-item:nth-child(4) {
    position: relative;
    right: 20px;
  }
}
@media (min-width: 1440px) {
  .header__navigation-item:nth-last-child(-n+2) {
    position: absolute;
    right: 145px;
  }
}
.header__navigation-item:nth-last-child(-n+2) button {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 1rem;
  font-size: 16px;
}
@media (min-width: 1440px) {
  .header__navigation-item:nth-last-child(-n+2) button {
    padding: unset;
  }
}
.header__navigation-item:last-child {
  border: 2px solid #696969;
  border-radius: 15px;
  margin-top: 0;
}
@media (min-width: 1440px) {
  .header__navigation-item:last-child {
    right: 0;
    padding: 10px 24px;
    top: -10px;
  }
}

.header__navigation-button span {
  position: relative;
}
.header__navigation-button span::after {
  content: url("../images/icon-arrow-down.svg");
  position: absolute;
  left: 95px;
  top: 0;
}
@media (min-width: 1440px) {
  .header__navigation-button span::after {
    right: -15px;
    left: unset;
  }
}
.header__navigation-item:hover .header__navigation-button span::after {
  transform: rotate(180deg);
}

@media (min-width: 1440px) {
  .header__navigation-dropdown-wrapper {
    position: absolute;
    right: 40px;
    width: 155px;
    top: 5px;
  }
}
@media (min-width: 1440px) {
  .header__navigation-item:nth-child(2) .header__navigation-dropdown-wrapper {
    width: 115px;
    right: 0;
  }
}

.header__navigation-dropdown {
  display: none;
  list-style-type: none;
  margin-top: 2rem;
  padding-left: 1rem;
}
.header__navigation-dropdown a {
  text-decoration: none;
  color: #696969;
  padding-left: 2rem;
}
@media (min-width: 1440px) {
  .header__navigation-dropdown a {
    font-size: 15px;
    padding-left: 2rem;
  }
}
.header__navigation-dropdown a:hover {
  color: #919191;
}
.header__navigation-item:hover .header__navigation-dropdown {
  display: block;
}
@media (min-width: 1440px) {
  .header__navigation-item:hover .header__navigation-dropdown {
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5rem 1.5rem 1.5rem;
    box-shadow: 0 0 15px 1px lightgrey;
  }
}
.header__navigation-item:nth-child(2):hover .header__navigation-dropdown {
  padding-left: 0;
}
@media (min-width: 1440px) {
  .header__navigation-item:nth-child(2):hover .header__navigation-dropdown {
    padding: 0.5rem 1rem 1.5rem 1.5rem;
  }
}
@media (min-width: 1440px) {
  .header__navigation-item:nth-child(2):hover .header__navigation-dropdown a {
    padding-left: 0;
    padding-right: 0;
  }
}

.header__navigation-dropdown-item {
  margin-top: 1rem;
  position: relative;
}
.header__navigation-dropdown-item svg {
  position: absolute;
  bottom: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  background-color: #fafafa;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (min-width: 1440px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 8rem;
    padding: 3rem 8rem 0rem 10rem;
  }
}

/* hero */
.main__hero-image {
  margin: 0;
}
@media (min-width: 1440px) {
  .main__hero-image {
    grid-column: 2/3;
    grid-row: 1/3;
    padding-left: 2rem;
  }
}
.main__hero-image img {
  width: 100%;
}

/* article */
.main__article {
  text-align: center;
  margin-top: 3rem;
  padding: 0 0.5rem;
}
@media (min-width: 1440px) {
  .main__article {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: start;
  }
}

.main__article-headline {
  font-size: 36px;
  margin-bottom: 0;
}
@media (min-width: 1440px) {
  .main__article-headline {
    font-size: 75px;
  }
}

.main__article-copy {
  color: #696969;
  line-height: 1.6;
  padding: 0 0.5rem;
}
@media (min-width: 1440px) {
  .main__article-copy {
    font-size: 18px;
    margin-top: 3rem;
    padding: 0 1rem 0 0;
  }
}

.main__article-button {
  display: block;
  text-decoration: none;
  margin-top: 2.5rem;
}
@media (min-width: 1440px) {
  .main__article-button {
    margin-top: 4rem;
  }
}
.main__article-button span {
  font-size: 16px;
  background-color: #141414;
  color: #fafafa;
  padding: 1rem 1.5rem;
  border-radius: 15px;
}
@media (min-width: 1440px) {
  .main__article-button span {
    font-size: 18px;
    padding: 1.2rem 2rem;
  }
}

/* footer */
.main__footer {
  margin-top: 4rem;
}
@media (min-width: 1440px) {
  .main__footer {
    position: relative;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.main__footer-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 0 1rem;
}
@media (min-width: 1440px) {
  .main__footer-list {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
  }
}

.main__footer-list-item {
  width: 80px;
  height: 30px;
}
@media (min-width: 1440px) {
  .main__footer-list-item {
    width: 110px;
    height: 40px;
  }
}
.main__footer-list-item:nth-child(-n+2) {
  position: relative;
  bottom: 5px;
}
.main__footer-list-item svg {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
