/* main */

.main {
  @media ( min-width: 1440px ) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 8rem;
  padding: 3rem 8rem 0rem 10rem;
  }
}

.main__hero-image {
  margin: 0;

  @media ( min-width: 1440px ) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding-left: 2rem;
  }

  img {
    width: 100%;
  }
}

.main__article {
  text-align: center;
  margin-top: 3rem;
  padding: 0 .5rem;

  @media ( min-width: 1440px ) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: start;
  }
}

.main__article-headline {
  font-size: 36px;
  margin-bottom: 0;

  @media ( min-width: 1440px ) {
    font-size: 75px;
  }  
}

.main__article-copy {
  color: #696969;
  line-height: 1.6;
  padding: 0 0.5rem;

  @media ( min-width: 1440px ) {
    font-size: 18px;
    margin-top: 3rem;
    padding: 0 1rem 0 0;
  }  
}

.main__article-button {
  display: block;
  text-decoration: none;
  margin-top: 2.5rem;

  @media ( min-width: 1440px ) {
    margin-top: 4rem;
  }  
  
	span {
    font-size: 16px;
		background-color: #141414;
		color: #fafafa;
		padding: 1rem 1.5rem;
		border-radius: 15px;

    @media ( min-width: 1440px ) {
      font-size: 18px;
      padding: 1.2rem 2rem;
    }  
	}
}

.main__footer {
  margin-top: 4rem;

  @media ( min-width: 1440px ) {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.main__footer-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 0 1rem;

  @media ( min-width: 1440px ) {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
  }
}

.main__footer-list-item {
  width: 80px;
  height: 30px;

  @media ( min-width: 1440px ) {
   width: 110px;
   height: 40px; 
  }

  &:nth-child(-n+2) {
    position: relative;
    bottom: 5px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}