/* header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;

  @media ( min-width: 1440px ) {
    padding: 2rem 2.5rem 2rem;
  }
}

.header__menu-button {
  display: none;
}

.header__menu-icon {
  z-index: 999;
  cursor: pointer;
  position: relative;
  top: 5px;

  @media (min-width:1440px) { 
    visibility: hidden;
  }
}
  
  .header__menu-icon .header__menu-icon-line {
    background-color: #333;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;

    .header__menu-button:checked ~ & {
      background: transparent;
    }
  }

  .header__menu-icon .header__menu-icon-line::before,
  .header__menu-icon .header__menu-icon-line::after {
    content: '';
    background-color:  #333;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;

    .header__menu-button:checked ~ & {
      top: 0;
    }
  }

  .header__menu-icon .header__menu-icon-line::before {
    top: -7px;

  .header__menu-button:checked ~ & {
    transform: rotate(-45deg);
  }
  }

  .header__menu-icon .header__menu-icon-line::after {
    top: 7px;

    .header__menu-button:checked ~ & {
      transform: rotate(45deg);
    }
  }

/* navigation */

.header__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 998;
  transform: translateX(150%);
  transition: transform 0.3s ease-out;


  @media ( min-width: 1440px ) {
    transform: revert;
    height: revert;
    overflow: revert;
    display: flex;
    position: static;
  }
  
  .header__menu-button:checked ~ & {
    transform: translateX(0);
  }
}

.header__navigation::before {
    content: '';
    grid-column: 1 / 2;
    background-color: rgba($color: #000000, $alpha: .5)
  }

.navigation__list {
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 2rem;
  list-style-type: none;
  background-color: #ffffff;

  @media ( min-width: 1440px ) {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    position: relative;
    background-color: revert;
  }
}

.navigation__item {
  margin-top: 1.5rem;

  @media ( min-width: 1440px ) {
    flex-basis: 10%;
    margin-top: revert;
    position: relative;
    font-size: 14px;
  }  

  > a {
    color: #696969;	
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #919191;	
    }
  }
}

.navigation__item:first-child {
  margin-top: 5rem;

  @media ( min-width: 1440px ) {
    margin-top: revert;
  }  
}

.navigation__item:nth-child(4) {
  @media ( min-width: 1440px ) {
    position: relative;
    right: 20px;
  }  
}

.navigation__item:nth-child(5) {
  @media ( min-width: 1440px ) {
    right: 145px;
  }  
}

.navigation__item:last-child {
  border: 2px solid #696969;
  border-radius: 15px;
  margin-top: 0;

  @media ( min-width: 1440px ) {
    right: 0;
    padding: 10px 24px;
    top: -10px;
  }  
}

.navigation__item:where(li:nth-child(5), li:last-child) {
  @media ( min-width: 1440px ) {
    position: absolute;
  }  
}

.navigation__item:where(li:nth-child(5), li:last-child) .navigation__button {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 1rem;
    font-size: 16px;
    cursor: pointer;

    @media ( min-width: 1440px ) {
      padding: revert;        
    } 
}

.navigation__button .navigation__text--collapse {
  position: relative;

  &::after {
    content: url('../images/icon-arrow-down.svg');
    position: absolute;
    left: 95px;
    top: 0;

    @media ( min-width: 1440px ) {
      left: revert;
      right: -15px;
    } 
  }

  .navigation__item:hover &::after {
    transform: rotate(180deg);
  }
}

.navigation__dropdown {
  @media ( min-width: 1440px ) {
    position: absolute;
    right: 40px;
    width: 155px;
    top: 5px;
  } 
}

.navigation__item:nth-child(2) .navigation__dropdown {
  @media ( min-width: 1440px ) {
    width: 115px;
    right: 0;
  }   
}


.dropdown__list {
  display: none;
  list-style-type: none;
  margin-top: 2rem;
  padding-left: 1rem;
  
  a {
    text-decoration: none;
    color: #696969;
    padding-left: 2rem;

    @media ( min-width: 1440px ) {
      font-size: 15px;
      padding-left: 2rem;
    } 

    &:hover {
      color: #919191;	
    }
  }

	.navigation__item:hover & {
		display: block;
    
    @media ( min-width: 1440px ) {
      background-color: #fff;
      border-radius: 10px;
      padding: 0.5rem 1.5rem 1.5rem;
      box-shadow: 0 0 15px 1px lightgrey;
    } 
	}

  .navigation__item:nth-child(2):hover & {
    padding-left: 0;
    
    @media ( min-width: 1440px ) {
      padding: 0.5rem 1rem 1.5rem 1.5rem;
    }

    a {
      @media ( min-width: 1440px ) {
        padding-left: 0;
        padding-right: 0;
      }  
    }
  }
}

.dropdown__item {
  margin-top: 1rem;
  position: relative;

  svg {
    position: absolute;
    bottom: 0;
  }
}
