/* header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;

  @media ( min-width: 1440px ) {
    padding: 2rem 2.5rem 2rem;
  }
}

.header__logo {
  display: flex;
}

.header__logo > svg {
  width: 84px;
  height: 27px;
}

.header__menu-toggle {
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
}

.header__menu-toggle > svg,
.menu__close-button > svg {
  width: 22px;
  height: 22px;
}


/* navigation */

.header__menu {
  width: 66%;
  height: 100vh;
  padding: 0;
  margin: 0;
  left: auto;
  border: 0;
  transition: translate 0.5s ease-out, display 0.5s ease-out allow-discrete,
    overlay 0.5s ease-out allow-discrete;
  translate: 66% 0;
}

.header__menu:popover-open {
    border: 0;
    translate: 0 0;
   
    @starting-style {
      translate: 66% 0;
    }
  }

.header__menu::backdrop {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
}

.header__menu:popover-open::backdrop {
  opacity: 1;
}

.menu__close {
  display: flex;
  justify-content: end;
  margin-top: 1.5rem;
  padding: 0;

  @media ( min-width: 1440px ) {
    margin-top: 35px;
    position: relative;
    right: 25px;
  }

  & > button {
    border: none;
    background-color: transparent;
    padding: 0;
  }  
}

.menu__inner {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.menu__item {
  margin-top: 1.5rem;
}

.menu__item:first-child {
  margin-top: 5rem;
}

.menu__item:last-child {
  border: 2px solid #696969;
  border-radius: 15px;
  margin-top: 0;
}

.menu__button {
  font-family: 'Epilogue', sans-serif;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #696969;	
  text-decoration: none;
  padding: 0px;

  &:hover {
    color: #919191;	
  }
}

.menu__button--login,
.menu__button--register {
  cursor: not-allowed;
}


.menu__item:where(li:nth-child(5),
li:last-child) .menu__button {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
}

.dropdown__list {
  display: none;
  margin-top: 2rem;
  padding-left: 1rem;
}

.dropdown__list  .dropdown__link {
    text-decoration: none;
    color: #696969;
    padding-left: 2rem;

    &:hover {
      color: #919191;	
    }
  }

.menu__item:hover .dropdown__list {
  display: block;
}

.menu__item:nth-child(2):hover .dropdown__list {
  padding-left: 0;
}

.dropdown__item {
  margin-top: 1rem;
  position: relative;
}

.dropdown__icon {
    position: absolute;
    bottom: 0;
  }
