body {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
}

.intro__header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  
  @media ( min-width: 1065px ) {
    padding: unset;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* navigation */

.intro__navigation,
.intro__navigation span {
  cursor: pointer;
}

.intro__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease;
  
  &::before {
    grid-column: 1 / 2;
    content: '';
    background-color: rgba($color: #000000, $alpha: .5)
  }
  
  .intro__header-menu-button:checked ~ & {
    max-height: 100vh;
  }  
}

.intro__navigation-list {
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  margin: 0;
  list-style-type: none;
  background-color: white;
}

.intro__navigation-item {
  position: relative;
  margin-top: 1.5rem;

  > * {
    color: #696969;	
    text-decoration: none;
  }

  > *:hover {
    color: #919191;	
  }


  &:first-child {
    margin-top: 5rem;
  }

  &:nth-child(-n+2) {

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 95px;
    }

    &::before {
      content: url('../images/icon-arrow-down.svg');
      visibility: visible;
    }

    &:hover::before {
      visibility: hidden;
    }

    &::after {
      content: url('../images/icon-arrow-up.svg');
      visibility: hidden;
    }

    &:hover::after {
      visibility: visible;
    }

    
  }

  &:nth-last-child(-n+2) {

    button {
      display: block;
      width: 100%;
      background-color: transparent;
      border: none;
      padding: 1rem;
      font-size: 16px;
    }
  }

  &:last-child {
    margin-top: 0;
  }

  &:last-child {
    border: 2px solid #696969;
    border-radius: 20px;
  }
}

.intro__navigation-dropdown {
  display: none;
  transition: all 0.5s ease;
  list-style-type: none;
  margin-top: 2rem;
  padding-left: 1rem;
  
  li {
    margin-top: 1rem;
  }
  
  a {
    text-decoration: none;
    color: #696969;
    padding-left: 1rem;
  }

  .intro__navigation-item:nth-child(2) & {
    padding-left: 0;
  }

	.intro__navigation-item:hover & {
		display: block;
	}
}

.intro__article {
  text-align: center;
  padding: 0 1rem 0 1rem;
}

.intro__headline {
  font-size: 36px;
  margin: 3rem 0 0 0;
}

.intro__copy {
  color: #696969;
  line-height: 1.6;
  margin: 1rem 0 0 0;
}

.intro__button {
  font-size: 16px;
  display: block;
  text-decoration: none;
  margin-top: 2.5rem;

	span {
		background-color: hsl(0, 0%, 8%);
		color: hsl(0, 0%, 98%);
		padding: 1rem 1.5rem;
		border-radius: 15px;
	}
}

.intro__list--footer {
  margin-top: 4rem;
  padding: 0 1rem;
}

/* burger menu */

.intro__header-menu-button {
  display: none;
}

.intro__header-menu-icon {
  z-index: 1;
  cursor: pointer;
  position: relative;
  user-select: none;
  visibility: visible;

  span {
    background: #333;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;

    .intro__header-menu-button:checked ~ & {
      background: transparent;
    }
  }

  span::before {
    top: 7px;

  .intro__header-menu-button:checked ~ & {
    transform: rotate(-45deg);
  }
  }

  span::after {
    top: -7px;

    .intro__header-menu-button:checked ~ & {
      transform: rotate(45deg);
    }
  }

  span::before,
  span::after {
    background: #333;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    transition: all .2s ease-out;

    .intro__header-menu-button:checked ~ & {
      top: 0;
    }

  }
}

@media (min-width:1065px) { 
  #intro__header-menu-button {
    position: absolute;
    top: -100%;
    bottom: -100%;
  }

  .intro__header-menu-icon {
    visibility: hidden;
  }
}
  
/* hero */

.intro__hero {
  margin: unset;
}


/* footer logos */

.intro__list--footer {

	li {
		display: flex;
    justify-content: space-evenly;
	}

	li:first-child {
		width: 82px;
		height: 15px;
	}

	li:nth-child(2) {
		width: 50px;
		transform: translateY(-10px);
	}

	li:nth-child(3), 
	li:nth-child(4) {
		width: 60px;
		height: 15px;
	}

	img {
		width: 100%;
		height: 100%;
	}
}