body {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
  background-color: #fafafa;
}

// utility class for screen reader

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;

  @media ( min-width: 1440px ) {
    padding: 2rem 2.5rem 2rem;
  }

  img {
    height: 27px;
  }
}

.header__menu-button {
  display: none;
}

.header__menu-icon {
  z-index: 999;
  cursor: pointer;
  position: relative;
  top: 5px;

  @media (min-width:1440px) { 
    visibility: hidden;
  }
  
  span {
    background-color: #333;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;

    .header__menu-button:checked ~ & {
      background: transparent;
    }
  }

  span::before,
  span::after {
    content: '';
    background-color:  #333;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;

    .header__menu-button:checked ~ & {
      top: 0;
    }
  }

  span::before {
    top: 7px;

  .header__menu-button:checked ~ & {
    transform: rotate(-45deg);
  }
  }

  span::after {
    top: -7px;

    .header__menu-button:checked ~ & {
      transform: rotate(45deg);
    }
  }
}

/* navigation */

.header__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease;
  z-index: 998;
  
  &::before {
    content: '';
    grid-column: 1 / 2;
    background-color: rgba($color: #000000, $alpha: .5)
  }
  
  .header__menu-button:checked ~ & {
    max-height: 100vh;
  }  

  @media ( min-width: 1440px ) {
    display: flex;
    position: static;
    overflow: unset;
  }
}

.header__navigation-list {
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;

  @media ( min-width: 1440px ) {
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    position: relative;
  }
}

.header__navigation-item {
  margin-top: 1.5rem;

  @media ( min-width: 1440px ) {
    flex-basis: 10%;
    margin-top: unset;
    position: relative;
    font-size: 14px;
  }  

  > * {
    color: #696969;	
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #919191;	
    }
  }

  &:first-child {
    margin-top: 5rem;

    @media ( min-width: 1440px ) {
      margin-top: unset;
    }  
  }

  &:nth-child(4) {
    @media ( min-width: 1440px ) {
      position: relative;
      right: 20px;
    }  
  }

  &:nth-last-child(-n+2) {
    @media ( min-width: 1440px ) {
      position: absolute;
      right: 145px;
    }  

    button {
      width: 100%;
      background-color: transparent;
      border: none;
      padding: 1rem;
      font-size: 16px;

      @media ( min-width: 1440px ) {
        padding: unset;        
      } 
    }
  }

  &:last-child {
    border: 2px solid #696969;
    border-radius: 15px;
    margin-top: 0;

    @media ( min-width: 1440px ) {
      right: 0;
      padding: 10px 24px;
      top: -10px;
    }  
  }
}

.header__navigation-button {
 span {
  position: relative;

  &::after {
    content: url('../images/icon-arrow-down.svg');
    position: absolute;
    left: 95px;
    top: 0;

    @media ( min-width: 1440px ) {
      right: -15px;
      left: unset;
    } 

    .header__navigation-item:hover & {
      transform: rotate(180deg);
    }
  }
 }
}

.header__navigation-dropdown-wrapper {
  @media ( min-width: 1440px ) {
    position: absolute;
    right: 40px;
    width: 155px;
    top: 5px;
  } 

  .header__navigation-item:nth-child(2) & {
    @media ( min-width: 1440px ) {
      width: 115px;
      right: 0;
    }   
  }
}

.header__navigation-dropdown {
  display: none;
  list-style-type: none;
  margin-top: 2rem;
  padding-left: 1rem;
  
  a {
    text-decoration: none;
    color: #696969;
    padding-left: 2rem;

    @media ( min-width: 1440px ) {
      font-size: 15px;
      padding-left: 2rem;
    } 

    &:hover {
      color: #919191;	
    }
  }

	.header__navigation-item:hover & {
		display: block;
    
    @media ( min-width: 1440px ) {
      background-color: #fff;
      border-radius: 10px;
      padding: 0.5rem 1.5rem 1.5rem;
      box-shadow: 0 0 15px 1px lightgrey;
    } 
	}

  .header__navigation-item:nth-child(2):hover & {
    padding-left: 0;
    
    @media ( min-width: 1440px ) {
      padding: 0.5rem 1rem 1.5rem 1.5rem;
    }

    a {
      @media ( min-width: 1440px ) {
        padding-left: 0;
        padding-right: 0;
      }  
    }
  }
}

.header__navigation-dropdown-item {
  margin-top: 1rem;
  position: relative;

  svg {
    position: absolute;
    bottom: 0;
  }
}

/* main */

.main {
  @media ( min-width: 1440px ) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 8rem;
  padding: 3rem 8rem 0rem 10rem;
  }
}

/* hero */

.main__hero-image {
  margin: 0;

  @media ( min-width: 1440px ) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding-left: 2rem;
  }

  img {
    width: 100%;
  }
}

/* article */

.main__article {
  text-align: center;
  margin-top: 3rem;
  padding: 0 .5rem;

  @media ( min-width: 1440px ) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: start;
  }
}

.main__article-headline {
  font-size: 36px;
  margin-bottom: 0;

  @media ( min-width: 1440px ) {
    font-size: 75px;
  }  
}

.main__article-copy {
  color: #696969;
  line-height: 1.6;
  padding: 0 0.5rem;

  @media ( min-width: 1440px ) {
    font-size: 18px;
    margin-top: 3rem;
    padding: 0 1rem 0 0;
  }  
}

.main__article-button {
  display: block;
  text-decoration: none;
  margin-top: 2.5rem;

  @media ( min-width: 1440px ) {
    margin-top: 4rem;
  }  
  
	span {
    font-size: 16px;
		background-color: #141414;
		color: #fafafa;
		padding: 1rem 1.5rem;
		border-radius: 15px;

    @media ( min-width: 1440px ) {
      font-size: 18px;
      padding: 1.2rem 2rem;
    }  
	}
}

/* footer */

.main__footer {
  margin-top: 4rem;

  @media ( min-width: 1440px ) {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.main__footer-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 0 1rem;

  @media ( min-width: 1440px ) {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
  }
}

.main__footer-list-item {
  width: 80px;
  height: 30px;

  @media ( min-width: 1440px ) {
   width: 110px;
   height: 40px; 
  }

  &:nth-child(-n+2) {
    position: relative;
    bottom: 5px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

