@use 'header';
@use 'base';
@use 'slider';


.teaser {
  @media ( min-width: 1440px ) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  }
}

/* hero */

.teaser__hero-image {
  margin: 0;
  text-align: center;

  @media ( min-width: 1440px ) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 2rem;
  }
}

.teaser__hero-image picture {
  display: inline-block;
  max-width: 752px;
  aspect-ratio: 3 / 2;

  img {
    width: 100%;  
    object-fit: cover;
  }
}

/* article */

.teaser__article {
  text-align: center;
  padding: 0 0.5rem;

  @media ( min-width: 1440px ) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: start;
  }
}

.article__headline {
  font-size: 36px;
  margin-bottom: 0;

  @media ( min-width: 1440px ) {
    font-size: 75px;
  }  
}

.article__copy {
  color: #696969;
  line-height: 1.6;
  padding: 0 clamp(25px, 13%, 105px);

  @media ( min-width: 768px ) {
    padding: 0 clamp(105px, 23.9%, 345px); 
  }  

  @media ( min-width: 1440px ) {
    font-size: 18px;
    padding: 0 1rem 0 0;
  }  
}

.article__button {
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  background-color: rgb(20, 20, 20);
  padding: 1rem 1.5rem;
  border-radius: 15px;
  transition: background-color 0.3s ease;

  @media ( min-width: 1440px ) {
    margin-top: 2rem;
    padding: 1.2rem 2rem;
  }  

  &:hover {
    background-color: rgba(20, 20, 20, 0.8);
  }
}

.article__button > span {
    font-size: 16px;
		color: #fafafa;

    @media ( min-width: 1440px ) {
      font-size: 18px;
    }  
	}

/* footer */

.main__footer {
  margin-top: 4rem;

  @media ( min-width: 1440px ) {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.footer__list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 0 1rem;

  @media ( min-width: 1440px ) {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
  }
}

.footer__list-item {
  width: 80px;
  height: 30px;

  @media ( min-width: 1440px ) {
   width: 110px;
   height: 40px; 
  }
}

.footer__list-item:where( li:nth-child(3), li:nth-child(4)) {
  position: relative;
  bottom: -5px;
}

.footer__icon {
    width: 100%;
    height: 100%;
  }


