button {
  border: none;
  background-color: transparent;
}


// slider styles

.carousel__carousel {
  display: flex;
  justify-content: space-evenly;
}

.carousel__arrow {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid red;
    transform: rotate(45deg);
 }
  
  .carousel__button--forward .carousel__arrow {
    border-style: solid solid none none;
}

  .carousel__button--backward .carousel__arrow {
    border-style: none none solid solid;
}
  
.carousel__button[disabled] {
    pointer-events: none;
    
   > span {
      border-color: rgba(255,0,0,0.3);;
    }
  }  

.carousel__slider {
  display: flex;
  max-width: 600px;
  overflow: hidden;
  border-radius: 5px;
}

.carousel__item {
    position: relative;
    flex: 0 0 100%;
    font-size: 30px;
    text-align: center;
    transition: left 0.5s ease;

    & label {
      display: block;
    }

    & picture {
      display: flex;
      align-items: center;
      aspect-ratio: 3 / 2;
    }

    & img {
      display: block;
      max-width: 100%;
    }
  } 

.carousel__item:nth-child(odd) {
    background-color: lavender;
}

.is-slide-value-0 .carousel__item {
  left: 0;
}

.is-slide-value-1 .carousel__item {
  left: calc(var(--current-slide-width) * -1);
}

.is-slide-value-2 .carousel__item {
  left: calc(var(--current-slide-width) * -2);
}

.is-slide-value-3 .carousel__item {
  left: calc(var(--current-slide-width) * -3);
}

.is-slide-value-4 .carousel__item {
  left: calc(var(--current-slide-width) * -4);
}

.carousel__controls {
  margin: 2rem;
}

.controls__list {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}