button {
  border: none;
  background-color: transparent;
}


// slider styles

.slider__heading {
  text-align: center;
}

.slider__container {
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
   
.slider__button {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  padding: 10px;
  scale: 0.9;
  transform: translateY(0);
  transition: scale 200ms ease;
}  

@media ( min-width: 700px ) {
  .slider__button {
    position: static;
    transform: unset;
    height: fit-content;
    align-self: center;
    border: 1px solid rgba(128, 128, 128, 0.6);
    border-radius: 50%; 
  }
}

.slider__button--backward:hover,
.slider__button--forward:hover {
  scale: 1;
  transform: translateY(0);
}

.slider__button--backward {
  left: 10px;
  z-index: 2;
}

.slider__button--forward {
  right: 10px;
}

.slider__button[disabled] {
  cursor: not-allowed;
}  

.slider__arrow {
  width: 15px;
  height: 15px;

  & > svg {
    width: 100%;
    height: 100%;
  }
}

@media ( min-width: 700px ) {
  .slider__arrow {
    width: 20px;
    height: 20px;
  }
}

.slider__list {
  display: flex;
  max-width: 600px;
  overflow: hidden;
  border-radius: 5px;
}

.slider__item {
    position: relative;
    flex: 0 0 100%;
    font-size: 30px;
    text-align: center;
    transition: left 0.5s ease;

    & label {
      display: block;
    }

    & picture {
      display: flex;
      align-items: center;
      aspect-ratio: 3 / 2;
    }

    & img {
      display: block;
      max-width: 100%;
    }
  } 

.slider__item:nth-child(odd) {
    background-color: lavender;
}

.is-slide-value-0 .slider__item {
  left: 0;
}

.is-slide-value-1 .slider__item {
  left: calc(var(--current-slide-width) * -1);
}

.is-slide-value-2 .slider__item {
  left: calc(var(--current-slide-width) * -2);
}

.is-slide-value-3 .slider__item {
  left: calc(var(--current-slide-width) * -3);
}

.is-slide-value-4 .slider__item {
  left: calc(var(--current-slide-width) * -4);
}

.slider__controls {
  margin: 2rem;
}

.controls__list {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.controls__item input[disabled] {
  cursor: not-allowed;
}